extends layout
block content
  head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
  script(src="javascripts/uploadView.js")
  link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  link(el="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  
  body
    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")

      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") CREATE A TICKET
        

      // Collect the nav links for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-center
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Forums
              b.caret
            ul.dropdown-menu
              li
                a(href="KnowledgeBase") Forum Topics
              li
                a(href="topicAdd") Add a Topic
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Tickets
              b.caret
            ul.dropdown-menu
              li
                a(href="organization?id="+organization+"&page="+1) Select a Ticket
              li.active
                a(href="#") Create a New Ticket
          li.dropdown
            a(href="#" lass="dropdown-toggle" data-toggle="dropdown") Settings
              b.caret
            ul.dropdown-menu
              li
                a(href="changePass") Change Password
              li
                a(href="select") Change Organization
              li
                a(href="index") Log Out
        img#benbria.nav.navbar-nav.navbar-right(src="img/benbria_logo.png", hieght="100", width="100", alt="Benbria Logo")
    .jumbotron
        h1.titre Add a Ticket 
    .row
      .col-md-7.col-md-offset-1
        h2.titre TICKET INFORMATION: 
        form(action="/ticketCreate",method="post",enctype="multipart/form-data")
          input(type="hidden", name="organization", id="organization", value=organization)
          fieldset
            h2 New Ticket:
            .row
              .col-md-6 SUBJECT: Brief description:
            .row
              .col-md-10
                input.extend(rows="1", cols="1000", name ="subject")
            .row
              .col-md-6 Detailed Description of problem:
            .row
              .col-md-10
                textarea.form-control(rows="10", name ="comment")
            .row
              .col-md-6
                .fileinputs
                  #ifl(style='display:none')
                    input#ii(name='data',type='file',class='file',onChange='updateIfl()')
            .row
              .col-md-2
                  .glyphicon.glyphicon-folder-open(class='cover',onclick="$('#ii').click()") 
                  &nbsp
                  strong
                    a(href="#" class="cover" onclick="$('#ii').click()" id="attach" data-trigger="hover" data-title="Attachments" rel="popover" data-placement="top" data-content="NOTE: Only 5 attachments are allowed per post, please add comment for additional attachments" data-original-tile="attachment") Attach a File
            ul#view_ifl
            br
            button.btn.btn-primary Submit
      .col-md-4
        p 
        .panel.panel-danger
          center.panel-heading Recommended ticket guidelines
          .panel-body
            strong 
              ul
                li Please provide a short and clear description in the 'Brief Description of Problem'
                li Provide steps to reproduce your problem or question on using the software
                li Provide basic details on your system (Operating System, Browser Version)
                li Please attach screenshots to help us assist in resolving issues or answering questions
              p NOTE: Only 5 attachments are allowed per post, please add comment for additional attachments
              br
              br

    #contact 
      a.button(data-toggle="modal" href="#myModal") Contact Us

    div(id="myModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title CONTACT US
          .modal-body
              a#tel(href='callto:613-271-5995') 613-271-5995
              br
              a#email(href='mailto:support@benbria.com?Subject=Benbria Support') support@benbria.com
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close

    div(id="ticketModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title 
              h1 
                center TICKET CREATE UPDATE
          .modal-body
          - if (result == 201)
            p 
              center 
                h4 Ticket was successfully created. Please wait about 2 minutes before ticket is available
          - if (result == 422)
            p 
              center 
                h4 ERROR: Please enter Detailed Description of problem.
          - if (result == 522)
            p 
              center 
                h4 FILE UPLOAD FAILED: Problem with file selected please make sure that it's not an empty file or contact Benbria Support
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close
    #retModal(data-toggle="modal" href="#ticketModal")
    script.
      if (!{showModal}) $("#retModal").click()

      $(function ()  
      { $("#attach").popover();  
      });


    

