extends layout
block content
  head
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
  script(src="javascripts/uploadView.js")
  link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  
  body
    #header
      #headerwrapper
        a(href='/')
          img#benbria(src='img/benbria2.png', hieght="90", width="90", alt='Benbria Logo')
    #container
      div
        div
          #gauche
            h3 MENU
            ul
              li
                a(href='create')
                  img.icon(src='img/icons/delete.png', hieght="25", width="25")
                a(href='create') Clear Ticket
              li
                a(href='organization?id='+organization)
                  img.icon(src='img/icons/back.png', hieght="25", width="25")
                a(href='organization?id='+organization) Back to Tickets
              li
                a(href='select')
                  img.icon(src='img/icons/organization.png', hieght="25", width="25")
                a(href='select') Select Organization
              li
                a(href='changePass')
                  img.icon(src='img/icons/knowledge.png', hieght="25", width="25")
                a(href='KnowledgeBase') KnowledgeBase
              li
                a(href='index')
                  img.icon(src='img/icons/logoff.png', hieght="25", width="25")
                a(href='index') Log Out
        #milieu
          h1.titre Benbria Ticketing
          .lean_overlay_2(style="display:none")
              div
                h2 Contact Us
                a#tel(href='callto:613-271-5995') 613-271-5995
                br
                a#email(href='mailto:support@benbria.com?Subject=Benbria Support') support@benbria.com
          p
          h2 TICKET INFORMATION: 
            span Please enter a ticket
          .lean_overlay(style="dislay:none")= "WARNING: Ticket has NO DATA."
          
                    
          form(action="/ticketCreate",method="post",enctype="multipart/form-data")
            input(type="hidden", name="organization", id="organization", value=organization)
            fieldset
              legend Add Ticket:
              p Brief Description of problem:
              input.extend(rows="1", cols="1000", name ="subject")
              p Detailed Description of problem:
              textarea(rows="10", cols="100", name ="comment")
              p
              .fileinputs
                #ifl(style='display:none')
                  input#ii(name='data',type='file',class='file',onChange='updateIfl()')
                p
                  img#imgId(src='img/icons/attach.png',class='cover',onclick="$('#ii').click()")
                ul#view_ifl
              br
              input#submit(type="submit", value="Submit")
    #contact 
      contact.link Contact Us
  script.
    $("#contact").on('click', function(e) {
        $('.lean_overlay_2').dialog({ modal: true,
          buttons: [ 
            { text: "Ok", 
              click: function() { 
                $( this ).dialog( "close" ); 
                } 
            } 
          ]
        });
    });
    if (#{showModal}) {
      if (#{result} == 201) {
        $('.lean_overlay').html('Ticket was successfully created. Please wait about 2 minutes before ticket is available');
      }
      else {
        $('.lean_overlay').html('Error updating. Please contact the administrator.');
      }
      $('.lean_overlay').dialog({ modal: true, 
          buttons: [ 
            { text: "Ok", 
              click: function() { 
                $( this ).dialog( "close" ); 
                } 
            } 
          ] 
        });
    }