extends layout
block content
  head
  script(src="https://www.google.com/jsapi")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
  link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  link(el="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  meta(name='description', content='Benbria Support Tickets')
  script.
    
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1', {'packages':['table']});
      
    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawTable);

      
    function drawTable() {
      var gd = !{JSON.stringify(gd)};
      console.log(gd); 
      
      var chart = new google.visualization.DataTable(gd); 
      
      if (gd) {

        var table = new google.visualization.Table(document.getElementById('chart_div'));
        table.draw(chart, {showRowNumber: false});

        // Add event if user clicks a ticket in row
        google.visualization.events.addListener(table, 'select', function() {
          var row = table.getSelection()[0].row;
          window.open("topic?id="+chart.getValue(row, 0),"_self");
        });
      } else {
        $('#chart_div').text("NO TOPICS FOUND FOR YOUR FORUM SEARCH");
      }
    }
  body
    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")

      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        if (orgId)
          a.navbar-brand(href="create") NEW TICKET
        else
          a.navbar-brand(href="select" ) NEW TICKET

      // Collect the nav links for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-center
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Forums
              b.caret
            ul.dropdown-menu
              li.active
                a(href="#") Forum Topics
              li
                a(href="topicAdd") Add a Topic
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Tickets
              b.caret
            ul.dropdown-menu
              if (orgId)
                li
                  a(href="organization?id="+orgId) Select a Ticket
                li
                  a(href="create") Add New Ticket
              li
                a(href="select") Select Organization
          li.dropdown
            a(href="#" lass="dropdown-toggle" data-toggle="dropdown") Settings
              b.caret
            ul.dropdown-menu
              li
                a(href="changePass") Change Password
              li
                a(href="index") Log Out
        img#benbria.nav.navbar-nav.navbar-right(src="img/benbria2.png", hieght="40", width="40", alt="Benbria Logo")
    .jumbotron
        h1.titre #{name}! 
    #container
      form.form-inline(action="/searchForum",method="post",enctype="multipart/form-data" role="form")
        div(align="right")
          .form-group
            label(for="inputSearch") Search
              &nbsp
            input.form-control(type="text" id="inputSearch" name="search" placeholder="Search String")
          button.btn.btn-primary Search
      div#chart_div
    #contact 
      a.button(data-toggle="modal" href="#myModal") Contact Us

    div.modal(id="myModal")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title CONTACT US
          .modal-body
              a#tel(href='callto:613-271-5995') 613-271-5995
              br
              a#email(href='mailto:support@benbria.com?Subject=Benbria Support') support@benbria.com
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close
      
    
      