extends layout
block content
  head
  meta(charset="UTF-8")
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.js")
  script(src="javascripts/uploadView.js")
  script(src="//tinymce.cachefly.net/4.0/tinymce.min.js")
  link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css")
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
  link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  script.
    tinymce.init({
        selector:"textarea",
        plugins: [
                "advlist autolink autosave link image lists charmap print preview hr",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste textcolor"
        ],
        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent | undo redo | link unlink image media code | inserttime preview | forecolor backcolor table | charmap emoticons | print fullscreen",

        menubar: true,
        toolbar_items_size: 'small',

        style_formats: [
                {title: 'Bold text', inline: 'b'},
                {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                {title: 'Example 1', inline: 'span', classes: 'example1'},
                {title: 'Example 2', inline: 'span', classes: 'example2'},
                {title: 'Table styles'},
                {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
        ],
    });
  body
    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top(role="navigation")

      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        if (orgId)
          a.navbar-brand(href="create") NEW TICKET
        else
          a.navbar-brand(href="select" ) NEW TICKET

      // Collect the nav links for toggling
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav.navbar-center
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Forums
              b.caret
            ul.dropdown-menu
              li
                a(href="KnowledgeBase") Forum Topics
              li.active
                a(href="#") Add a Topic
          li.dropdown
            a(href="#" class="dropdown-toggle" data-toggle="dropdown") Tickets
              b.caret
            ul.dropdown-menu
              if (orgId)
                li
                  a(href="organization?id="+orgId) Select a Ticket
                li
                  a(href="create") Add New Ticket
              li
                a(href="select") Select Organization
          li.dropdown
            a(href="#" lass="dropdown-toggle" data-toggle="dropdown") Settings
              b.caret
            ul.dropdown-menu
              li
                a(href="changePass") Change Password
              li
                a(href="index") Log Out
        img#benbria.nav.navbar-nav.navbar-right(src="img/benbria2.png", hieght="40", width="40", alt="Benbria Logo")
    .jumbotron
        h1.titre Add a Topic
    .row
      .col-md-7.col-md-offset-1
        .container
          h2 Benbria Forum : #{name}
          
          form(action="/topicCreate",method="post",enctype="multipart/form-data")
            .row
              .col-md-10
                input(type="hidden", name="organization", id="organization", value=organization)
                fieldset
                  legend Add A New Topic:     
            .row 
              .col-md-6 Topic Title:
            .row
              .col-md-10
                input.extend(rows="1", cols="1000", name ="subject")
                br
            .row
              .col-md-6 Detailed Description of topic:
            .row
              .col-md-10
                textarea(rows="30", cols="100", wrap="soft", name ="comment")
            .row
              .col-md-6
                .fileinputs
                  #ifl(style='display:none')
                    input#ii(name='data',type='file',class='file',onChange='updateIfl()')
            .row
              .col-md-2
                .glyphicon.glyphicon-folder-open(class='cover',onclick="$('#ii').click()")
                &nbsp
                strong
                  a(href="#" class="cover" onclick="$('#ii').click()" id="attach" data-trigger="hover" data-title="Attachments" rel="popover" data-placement="top" data-content="NOTE: Only 5 attachments are allowed per post, please add comment for additional attachments" data-original-tile="attachment") Attach a File
            ul#view_ifl
            .row
              .col-md-2
                button.btn.btn-primary Submit
            .row
                .col
                  br
                  br
      .col-md-2.col-md-offset-1
        p 
        .panel.panel-danger
          center.panel-heading Forum Rules of Conduct
          .panel-body
            strong 
              ul
                li Forums are a place for the community to share their experiences and ideas
                li Forums are not moderated
                li respect for other contributors is required
                li Benbria reserves the right to remove topics and comments deemed unacceptable
              br
              br
        
    #contact 
      a.button(data-toggle="modal" href="#myModal") Contact Us

    div(id="myModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title CONTACT US
          .modal-body
              a#tel(href='callto:613-271-5995') 613-271-5995
              br
              a#email(href='mailto:support@benbria.com?Subject=Benbria Support') support@benbria.com
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close

    div(id="ticketModal" class="modal fade in")
      .modal-dialog
        .modal-content
          .modal-header
            .button.close(data-dismiss="modal" aria-hidden="true") X
            .modal-title 
              h1 
                center TOPIC CREATE
          .modal-body
            if (result == 201)
              p 
                center 
                  h4 Topic was successfully added. Please wait about 2 minutes before new topic is available
            if (result ==422)
                p 
                  center 
                    h4 You must enter a Subject and Detailed Description to submit a new Topic
            else
              p
                center
                  h4 Error updating. Please contact the administrator
          .modal-footer
              button.btn.btn-primary(data-dismiss="modal" aria-hidden="true") Close
    #retModal(data-toggle="modal" href="#ticketModal")
    script.
      if (!{showModal}) $("#retModal").click()

      $(function ()  
      { $("#rules").popover();  
      }); 

      $(function ()  
      { $("#attach").popover();  
      });




      



 