@font-face {
    font-family: MyFont;
    src: url(../fonts/ASENINE_.ttf);
}

body
   {  
    font-family: helvetica, sans serif;
    width: 100%;
    margin: 0 auto;
    background-color: #E5E5E5;
   }

.lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
   
#container
   {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
   }

#headerwrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

#header
   {
    background: rgb(102,102,102); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(77,77,77,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(102,102,102,1)), color-stop(100%, rgba(77,77,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(77,77,77,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(77,77,77,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(77,77,77,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(102,102,102,1) 0%, rgba(77,77,77,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#4d4d4d', GradientType=0 ); /* IE6-9 */
    height: 125px;
    
    /*SHADOW*/
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    
    padding: 20px 20px 0px 20px;

   }
   
   
#benbria {
    height: auto;
    position: left;
    margin-right: 0px;
   
}

#upload {
    color: #E6E6E6;
    text-decoration: none;
    float: right;
    margin-top: 50px;
    font-family: MyFont, sans-serif;
    font-size: 30px;
    letter-spacing: 1.9px;
}
#upload:after {
    content: url(../img/upload.png);
    margin-left: 10px;
}
#upload:hover:after {
    content: url(../img/upload-h.png);
    margin-left: 10px;
}
#upload:hover {
    color: #2faee0;
}

#gauche
   {
    /*BACKGROUND GRADIENT*/
    background: rgb(255,255,255, 0.3); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255, 0.3)), color-stop(100%, rgba(255,255,255, 0.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0.3) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0.3) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0.3) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2faee0', endColorstr='#29a0f4', GradientType=0 ); /* IE6-9 */
    /*BORDER RADIUS*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*SHADOW*/
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    
    float: left;
    width: 18%;
    padding: 2% 1%;
    margin: 5% 0 0 0;
    display: inline;
   }
#gauche h3
   {
    text-align: center;
    margin: 0;
    font-family: MyFont, sans-serif;
    font-size: 30px;
    letter-spacing: 1.9px;
    color: #E6E6E6;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: thin solid rgb(17,144,194);
   }
   
#gauche a {
    margin: 0;
    font-family: MyFont, sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}

#gauche a:hover {
    color: white;
}

#gauche ul {
    margin-left: -35px;
}
#gauche ul li {
    list-style: none;
}

.icon {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

#milieu {
    /*BORDER RADIUS*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    float: left;
    width: 70%;
    padding: 2% 2%;
    margin: 5% 1.6% 1% 2.4%;
    background: #FAFAFA;
}


#milieu img {
    width: 196px;
    height: 155px;
}

#milieu h2 {
    font-family: MyFont, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: solid thin rgb(17,165,219);
}

#milieu a {
    text-decoration: none;
    color: black;
    font-family: MyFont, sans-serif;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: bold;
}

#milieu p {
    text-decoration: none;
    color: black;
    font-family: MyFont, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: strong;
}

p.search {
    text-decoration: none;
    color: black;
    font-family: MyFont, sans-serif;
    font-size: 25px;
    letter-spacing: 1.5px;
    font-weight: bold; 
}   

#milieu a:hover {
    color: rgb(47,174,224);
}

.titre {
    font-family: MyFont, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: solid thin rgb(17,165,219);
    width: 92.5%;
    margin-left: 5px;
}

.subheading {
    font-family: MyFont, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: solid thin rgb(17,165,219);
}
.categories{
    margin: 2%;
    float: left;
    text-align: right;
}

figurecaption {
    margin: 10px;
  }
  
  
figurecaption span {
    font-family: MyFont, sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    float: left;
    margin-left: 8px;
    margin-top: -15px;

  }

p.seperator {
    font-family: MyFont, sans-serif;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bold;
    border-bottom: solid thin rgb(17,165,219);
}

input.extend {
    width: 100%;
    display:block;
    padding: 10px;
    font-size: 18px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
span.link, p.link {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold; }

contact.link {
    cursor: pointer;
    font-family: MyFont, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: white;
    text-decoration: underline; }

input.link, p.link {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold; }

input.button.submit-icon span {
  padding: 0 0 0 16px; }

img.view {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold;
  max-height: 15px;
  max-width: 15px;
  width: 10px;
  height: 10px;
  margin-left:15px;
}

img.comment {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold;
  max-height: 25px;
  max-width: 25px;
  width: 20px;
  height: 20px;
  margin-left:15px;
}

img.cover {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold;
  max-height: 25px;
  max-width: 55px;
  width: 35px;
  height: 45px;
  margin-left:15px;
}

img.attach {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold;
  max-height: 45px;
  max-width: 25px;
  width: 40px;
  height: 20px;
  color: #1A6690;
  margin-left:15px;
}

#image img {
  cursor: pointer;
  color: #1A6690;
  font-weight: bold;
  max-height: 30px;
  max-width: 40px;
  width: 20px;
  height: 20px;
  margin-left:15px;
  cursor: pointer;
  color: #1A6690;
  font-weight: bold;
}

.fileinputs {
    position: relative;
}

#fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

input.file {
    position: relative;
    text-align: right;
   -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}
  
.photo {
    margin: 0;
}

.x {
    width: 20px;
    height: auto;
    float: right;
    margin-top: -20px;
    margin-right: -30px;
}

.y {
    width: 25px;
    height: auto;
    float: right;
    margin-top: -20px;
    margin-right: -30px;
}

.h2 {
    font-family: MyFont, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: solid thin rgb(17,165,219);
    width: 80%;
}

#post table th {
    text-align: left;
    padding: 5% 10% 0 0;
    vertical-align: middle;
    width: 50%;
    font-weight: 100;
    font-size: 14px;
}

#post table td {
    text-align: left;
    padding: 5% 10% 0 0;
    vertical-align: middle;
}

#submit {
    padding: 3px 15px 3px 15px;
    background-color: rgb(47,174,224);
    color: white;
    font-family: MyFont, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bold;
    
    /*BORDER RADIUS*/
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}


#droit {
    /*BORDER RADIUS*/
    float: right;
    width: 17%;
    margin: 5% 0 0 0;
    display: inline;
}

#droit .pub{
    width: 100%;
    margin: 0px 0px 10px 0px;
    background: white;
}

#contact{
    /*BACKGROUND GRADIENT*/
    background: rgb(47,174,224); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(4255, 255, 255,1)), color-stop(100%, rgba(4255, 255, 255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255,1) 0%, rgba(255, 255, 255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2faee0', endColorstr='#29a0f4', GradientType=0 ); /* IE6-9 */
    /*BORDER RADIUS*/
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    border-radius: 15px 15px 0px 0px;
    /*SHADOW*/
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    padding: 0.8% 0% 0.5% 0%;
    text-align: center;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 20px;
    color: #000000;
    
    
    font-family: MyFont, arial;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #000000

}
#contact:hover{
    /*BACKGROUND GRADIENT*/
    background: rgb(17,165,219); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(17,165,219,1) 0%, rgba(0,146,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(17,165,219,1)), color-stop(100%, rgba(0,146,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(17,165,219,1) 0%, rgba(0,146,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(17,165,219,1) 0%, rgba(0,146,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(17,165,219,1) 0%, rgba(0,146,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(17,165,219,1) 0%, rgba(0,146,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11a5db', endColorstr='#0092ed', GradientType=0 ); /* IE6-9 */
}



.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    pointer-events: none; 
}

.modalContact {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
}

.modalDialog h2 {
    font-family: MyFont, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: bold;
    border-bottom: solid thin rgb(17,165,219);
    width: 80%;
}

.modalDialog a {
    font-family: MyFont, sans-serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

#tel:before {
    content:url('/img/icons/phone.png');


}

#email:before {
    content:url('/img/icons/email.png');
}



